<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inbox</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí comienzan las cards -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title 1</ion-card-title>
      <ion-card-subtitle>Card Subtitle 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este es el contenido de la primera card.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title 2</ion-card-title>
      <ion-card-subtitle>Card Subtitle 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este es el contenido de la segunda card.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title 3</ion-card-title>
      <ion-card-subtitle>Card Subtitle 3</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este es el contenido de la tercera card.
    </ion-card-content>
  </ion-card>
  <!-- Aquí terminan las cards -->

</ion-content>
