<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actividades agendadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actividades agendadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí comienzan las cards -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Actividad 1</ion-card-title>
      <ion-card-subtitle>[subtitulo de la actividad]</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      [Descripción de la actividad]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actividad 2</ion-card-title>
      <ion-card-subtitle>[subtitulo de la actividad]</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      [Descripción de la actividad]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actividad 3</ion-card-title>
      <ion-card-subtitle>[subtitulo de la actividad]</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      [Descripción de la actividad]
    </ion-card-content>
  </ion-card>
  <!-- Aquí terminan las cards -->

</ion-content>
